<div class="post-head">
    <a class="profile-link" href="{{ url_for('dashboard', username=post.author.username) }}">
    {% if user.avatar %}
        <img class="user-image" src="{{ url_for('get_user_data', filename=post.author.avatar.filename) }}" alt="{{post.author.username}}'s Avatar"/>
    {% endif %}
    {{ post.author.username }}</a>&nbsp;says at&nbsp;<a href="{{ url_for('single', author=post.author.username, post_id=post.id)}}">{{ post.message_date }}</a>
    {% if g.user.id == post.recipient_id %}
        <a href="{{ url_for('delete_post', post_id=post.id) }}" class="delete">&times;</a>
    {% endif %}
</div>

<div class="post-body">
    <h2 class="post-message">{{post.message}}</h2>
    {% if post.attachments %}
        <div class="attachments">
            {% for attachment in post.attachments %}
                <a href="{{url_for('new_avatar', id=attachment.file.id )}}"> 
                    <img class="attachment" src="{{ url_for('get_user_data', filename=attachment.file.filename)}}"/>
                </a>
            {% endfor %}
        </div>
    {% endif %}
</div>