.clearfix:after, .wrapper:after {
  content: "";
  display: table;
  clear: both; }

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0; }

html, body {
  padding: 0;
  margin: 0;
  border: 0; }

html {
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  background: #286fff; }

body {
  padding-top: 52px;
  font: 16px "Source Sans Pro", "Helvetica", "Arial", sans-serif; }

a, a:visited {
  text-decoration: none;
  color: #286fff; }
  a:hover, a:visited:hover {
    color: rgba(40, 111, 255, 0.5); }

h1, h2, h3, h4, h5, h6 {
  font-weight: 300; }

.flashes {
  z-index: 2;
  top: 0;
  height: 52px;
  position: fixed;
  padding: 16px;
  background: #286fff;
  width: 100%;
  margin: 0;
  list-style-type: none; }
  .flashes li {
    display: block;
    text-align: center;
    color: white; }

.site {
  min-height: 100vh;
  background-color: #f3f3f3;
  display: flex;
  flex: 1;
  flex-direction: column; }

.wrapper {
  width: 100%;
  max-width: 640px;
  height: 100%;
  list-style-type: none;
  padding: 16px;
  margin: 0 auto; }

.header {
  font-weight: 400;
  height: 52px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  align-content: center;
  top: 0;
  position: fixed;
  width: 100%;
  text-decoration: none;
  background-color: #286fff;
  color: #c1d5ff; }
  .header h1 {
    margin: 0;
    font-size: 1em; }
  .header a, .header a:visited {
    color: white; }
    .header a:hover, .header a:visited:hover {
      text-decoration: underline; }
  .header .logo {
    padding: 16px;
    color: #286fff;
    background-color: #f3f3f3;
    display: block;
    float: left; }
  .header .user-things {
    padding: 16px; }

.profile-head {
  text-align: center; }
  .profile-head .profile-avatar {
    width: 100%;
    max-height: 256px;
    object-fit: cover; }

.inputs input {
  font-weight: 400;
  background: none;
  border: 0px;
  border-top-width: 0px;
  display: block;
  padding: 8px 0px;
  width: 100%;
  border-bottom: 1px solid #ccc; }

.inputs input:active {
  outline: 0px;
  border: 0px; }

.inputs input:focus {
  outline: 0px;
  border-bottom: 1px solid #333; }

input[type="button"], input[type="submit"] {
  margin-top: 16px;
  background-color: #286fff;
  color: white;
  line-height: 2; }

.posts ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }
  .posts ul img {
    max-width: 100%; }
  .posts ul li.post {
    display: flex;
    flex-direction: column;
    padding: 16px;
    background-color: white;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    margin-bottom: 16px; }
    .posts ul li.post h2 {
      line-height: 1.5;
      margin: 0;
      margin-bottom: 8px; }

.post-head {
  font-size: 16px;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  color: #ccc; }
  .post-head a.profile-link {
    display: flex;
    align-items: center; }

.post-body {
  flex: 1 auto; }

.attachments {
  margin-bottom: 8px;
  display: flex;
  flex-flow: column; }
  .attachments .attachment {
    display: block;
    object-fit: cover; }

.user-image {
  display: inline-block;
  margin-right: 16px;
  object-fit: cover;
  width: 48px;
  height: 48px;
  margin-right: 8px; }

.animated {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease; }

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px); }
  12% {
    opacity: 1;
    -webkit-transform: translateY(0); }
  75% {
    opacity: 1;
    -webkit-transform: translateY(0); }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
    display: none; } }
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px); }
  12% {
    opacity: 1;
    transform: translateY(0); }
  75% {
    opacity: 1;
    transform: translateY(0); }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
    display: none; } }
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown; }

/*# sourceMappingURL=css.css.map */
