@mixin box-sizing($box-model) {
  -webkit-box-sizing: $box-model; // Safari <= 5
     -moz-box-sizing: $box-model; // Firefox <= 19
          box-sizing: $box-model;
}

.clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

*,
*:after,
*:before {
  @include box-sizing(border-box);
}

$font-stack: 'Chivo', 'Helvetica','Arial',sans-serif;
$color: rgba(55,55,55,1);

html, body {
	padding:0;
	margin:0px !important;
	border:0;
}
html {
	background: #f3f3f3;
}
body {
	font: 16px $font-stack;
	color: $color;
}

.flashes {
	position: absolute;
	width:100%;
	margin:0;
	padding:32px;
	background:rgba(40, 111, 255, .85);
	list-style-type:none;
	li {
		color:white;
	}
}
.wrapper {
	@extend .clearfix;
	height:100%;
	list-style-type: none;
	padding:16px;
	margin:0;
}
.formwrapper {
	padding:16px;
	width: 50%;
	float: left;
}

.inputs input {
	background-color: white;
	border:0px;
	border-top-width:0px;
	display:block;
	padding:8px;
	width:100%;
	border-bottom:1px solid #ccc;
}
.inputs input:active {
	outline: 0px;
	border:0px;
}
input.btn {
	margin-top:8px;
	background-color:#ffcc00;
	color:white;
}
h1,h2,h3,h4,h5,h6,p{
	font-weight:normal;
	margin-top:0;
}

.posts ul {
	margin:0;
	padding:0;
	list-style-type:none;
    img {
        max-width: 100%;
    }
	li {
		display: block;
		padding:16px;
		background-color:white;
		box-shadow: 0px 0px 4px rgba(0,0,0,.15);
		margin-bottom:16px;
        h2{
            margin:0;
        }
	}
}
.meh {
    float:left;
}
.attachments {
    margin:0;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    align-content: stretch;
    .attachment {
        object-fit: cover;
        &:hover {
        }
    }
}
.user_images {
    height:12px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;

    &:hover {
        position: relative;
        height: auto;
    }
    a:hover:before{
        position: absolute;
        display: block;
        color:blue;
        content: 'Make avatar';
    }
}
.user-image {
    display: block;
    margin:0;
    margin-right:12px;
    object-fit: cover;
    width:48px;
    height:48px;
}
.animated { 
    -webkit-animation-duration: 3s; 
    animation-duration: 3s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    -webkit-animation-timing-function: ease; 
    animation-timing-function: ease; 
} 

@-webkit-keyframes fadeInDown { 
    0% { 
        opacity: 0; 
        -webkit-transform: translateY(-20px); 
    } 
    12% { 
        opacity: 1; 
        -webkit-transform: translateY(0); 
    }
    75% { 
        opacity: 1; 
        -webkit-transform: translateY(0); 
    }
    100% {
    	opacity: 0;
    	-webkit-transform: translateY(-100%);
		display: none;
    }
} 

@keyframes fadeInDown { 
    0% { 
        opacity: 0; 
        transform: translateY(-20px); 
    } 
    12% { 
        opacity: 1; 
        transform: translateY(0); 
    }
    75% { 
        opacity: 1; 
        transform: translateY(0); 
    } 
    100% {
    	opacity: 0;
    	-webkit-transform: translateY(-100%);
    	display: none;
    }    
} 

.fadeInDown { 
    -webkit-animation-name: fadeInDown; 
    animation-name: fadeInDown;
}