{% extends "layout.html" %}
{% block title %}{{user.username}}{% endblock %}
{% block content %}
    <div class="site">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="flashes animated fadeInDown">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        {% if user %}
        <div class="profile-head">
<!--             {% if user_images %}
            <div class="profile-grid">
                {% for image in user_images[:8] %}
                    <img src="{{ url_for('get_user_data', filename=image.filename) }}" alt="{{ user.username }}'s Image"/>
                {% endfor %}
            </div>
            {% endif %} -->
            {% if user.avatar %}
                <div class="profile-avatar" style="background-image: url('..{{ url_for('get_user_data', filename=user.avatar.filename) }}')"/>
                    <h1 class="profile-name">{{ user.username }}</h1>
                </div>
            {% else %}
                <h1 class="profile-name">{{ user.username }}</h1>
            {% endif %}
        </div>
        {% endif %}
        <div class="wrapper">
            {% if g.user %}
                {% include "includes/glitchr.html" %}
            {% endif %}
            {% if posts %}
            <div class="posts">
                <ul>
                {% for post in posts[:8] %}
                    <li class="post">
                        {% include "includes/post.html" %}
                    </li>
                {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>
    </div>

{% endblock %}